.container {
    width: 1200px;
    margin: 0 auto;
}

#Header .container .Gnb ul {
    display: flex;
    justify-content: space-between;
}

.section {
    height: 100vh;
}

.section01 .introduce_box {
    position: relative;
    top: -200px;
}

.section01 .introduce_box h2 {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.section01 .introduce_box p {
    position: relative;
    font-size: 25px;
    font-weight: 500;
}

.section01 .introduce_box p::after {
    position: absolute;
    content: "";
    display: block;
    top: calc(100% + 10px);
    left: 0;
    width: 50%;
    height: 3px;
    background: #a0d3f9;
    border-radius: 5px;
}