.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  z-index: 999;
}

.Header .container {
  justify-content: space-between;
}

.Header .container h1 img {
  width: 150px;
  vertical-align: middle;
}

.Navmenu ul {
  display: flex;
  gap: 50px;
}

.Navmenu ul>li {
  position: relative;
}

.Navmenu ul>li::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.Navmenu ul>li:hover::after {
  opacity: 1;
  visibility: visible;
}

.Navmenu ul>li>ul {
  position: absolute;
  display: block;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  width: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.Navmenu ul>li:hover>ul {
  opacity: 1;
  visibility: visible;
}

.Navmenu ul>li>ul>li:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Navmenu ul>li>ul>li::after {
  display: none;
}

.Navmenu ul>li>ul>li~li {
  border-top: 1px solid #fff;
}

.Search button {
  vertical-align: middle;
}

.Main {
  position: relative;
}

.Footer {
  padding: 100px 0;
  background: #000;
  color: #fff;
}

.Footer .container {
  justify-content: space-between;
}

.Footer .container ul {
  display: flex;
  gap: 50px;
}

.Footer .container ul>li>ul {
  display: block;
  line-height: 1.414;
  margin: 20px 0 0 0;
}

.Footer .container .sns {
  display: flex;
  gap: 10px;
}

.Footer .container .subscribe {
  display: flex;
  gap: 10px;
}

.Footer .container .xi-reddit {
  background: #f76937;
}

.Footer .container .xi-facebook {
  background: #3b5998;
}

.Footer .container .xi-twitter {
  background: #55acee;
}

.Footer .container .xi-youtube-play {
  background: #e62117;
}

.Footer .container .xi-naver {
  background: #19ce60;
}