.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.VChar {
    padding: 100px 0 0 0;
    background: #3a1a65;
}

.VChar .container {
    display: block;
    text-align: center;
}

.VChar .container h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 100px 0;
}

.VChar .container figure {
    height: 313px;
}

.CChar {
    padding: 100px 0;
}

.CChar .container {
    display: block;
    text-align: center;
}

.CChar .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 100px 0;
}

.CChar .game_control {
    display: flex;
    gap: 50px;
}

.CChar .game_control figure {
    position: relative;
    float: left;
    width: 50%;
}

.CChar .game_control figure img {
    width: 100%;
}

.CChar .game_control figure .scroll_gamecontrol_img {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.CChar .game_control figure .scroll_gamecontrol_img.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.CChar .game_control .game_control_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.CChar .game_control .game_control_sub img {
    width: 120px;
    margin: 0 auto;
}

.CChar .game_control .game_control_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.CChar .game_control .game_control_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.CChar .game_control .game_control_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.Controlhead {
    padding: 100px 0;
    background: url('../../public/images/Control_bg.jpeg')no-repeat top center/cover;
}

.Control .container {
    display: block;
}

.Controlhead .container figure img {
    width: 10%;
    filter: invert(100);
}

.Controlhead .container h2 {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}

.Controlhead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
    margin: 0 0 50px 0;
}

.Controlhead .container h2::after {
    position: absolute;
    content: "";
    display: block;
    top: calc(100% + 10px);
    width: 20%;
    height: 3px;
    background: #fff;
}

.Controlhead .container .right {
    float: right;
    width: 50%;
}

.Controlhead .container .right figure img {
    width: 100%;
}

.ControlMain {
    padding: 100px 0;
}

.ControlMain .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.ControlMain .container p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.414;
    margin: 0 0 100px 0;
}

.ControlMain .container .main_explain {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ControlMain .container .main_explain div {
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.414;
    padding: 0 20px;
    text-align: left;
}

.ControlMain .container .main_explain div p {
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.Control .IChar {
    padding: 100px 0;
}

.IChar .container {
    display: block;
    text-align: center;
}

.IChar .multi {
    display: flex;
}

.IChar .multi .multi_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.IChar .multi .multi_sub img {
    width: 120px;
    margin: 0 auto;
}

.IChar .multi figure {
    position: relative;
    float: right;
    width: 50%;
}

.IChar .multi figure img {
    width: 100%;
}

.IChar .multi .multi_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.IChar .multi .multi_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.IChar .multi .multi_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.IChar .multi .scroll_multi_img {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.IChar .multi figure .scroll_multi_img.active {
    top: 55%;
    opacity: 1;
    visibility: visible;
}

.Multihead {
    padding: 100px 0;
    background: url(../../public/images/Multi_bg.jpeg) no-repeat top center/cover;
}

.Multihead .container {
    display: block;
}

.Multihead .container figure img {
    width: 10%;
    filter: invert(100);
}

.Multihead .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #fff;
}

.Multihead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
}

.MACChar {
    padding: 100px 0;
}

.MACChar .container {
    display: block;
    text-align: center;
}

.MACChar .container .macro {
    display: flex;
}

.MACChar .container .macro video {
    float: left;
    width: 50%;
}

.MACChar .container .macro_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.MACChar .container .macro_sub img {
    width: 120px;
    margin: 0 auto;
    padding: 10px;
}

.MACChar .macro .macro_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.MACChar .macro .macro_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.MACChar .macro .macro_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.Macrohead {
    padding: 100px 0;
    background: url('../../public/images/Macro_bg.jpeg')no-repeat top center/cover;
}

.Macrohead .container {
    display: block;
}

.Macrohead .container figure img {
    width: 120px;
    padding: 10px;
    filter: invert(100);
}

.Macrohead .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #fff;
}

.Macrohead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
}

.RChar {
    padding: 100px 0;
}

.RChar .container {
    display: block;
    text-align: center;
}

.RChar .reset {
    display: flex;
}

.RChar .reset .reset_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.RChar .reset .reset_sub img {
    width: 120px;
    margin: 0 auto;
    padding: 10px;
}

.RChar .reset .reset_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.RChar .reset .reset_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.RChar .reset .reset_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.RChar .reset video {
    float: right;
    width: 50%;
}